/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* .splash-screen {
  width: 375px;
  height: 812px;
  background-color: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
} */

.status-bar {
  width: 100%;
  height: 40px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time {
  font-family: "SF Pro Text", sans-serif;
  font-weight: 600;
  font-size: 13.57px;
  letter-spacing: -0.27px;
  color: #000000;
}

.status-icons {
  display: flex;
  gap: 4px;
  align-items: center;
}

.cellular,
.wifi,
.battery {
  object-fit: contain;
}

.logo-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo1 {
  width: 172px;
  height: 172px;
}

.home-indicator {
  width: 40%;
  height: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
